<div class="single-data-form">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>{{item.key}}</mat-label>
            <input matInput [(ngModel)]="itemValue" (ngModelChange)="onInputChange()" placeholder="{{originalItemValue}}">
        </mat-form-field>
    </div>
    <div class="buttons-container">
        <button mat-mini-fab aria-label="Reset value" (click)="resetValue()" >
            <mat-icon>refresh</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Save changed value" (click)="changePage(item.page)" >
            <mat-icon>find_in_page</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Save changed value" (click)="saveData(item)" [disabled]="!isInputChanged" >
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>